:root {
    --bg-color-primary: #2d2f33;
    --bg-color-secondary: #25262a;
    --text-color-primary: #ffffff;
    --text-color-secondary: #949699;
    --accent-color: #77c5ff;
}

body {
    background-clip: padding-box;
    margin: 0;
    padding: 0;
    color: var(--text-color-primary);
    font-family: Consolas, monaco, monospace;
    background-color: var(--bg-color-primary);
}

@media only screen and (min-width: 992px) {
    body {
        font-size: larger;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: larger;
    }
}

#navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    width: 90%;
    height: 80px;
    margin: 0 auto;
    padding: 10px 5%;
    background-color: var(--bg-color-primary);
}

@media only screen and (min-width: 768px) {
    #navbar {
        width: 80%;
        padding: 10px 10%;
    }
}

@media only screen and (min-width: 992px) {
    #navbar {
        width: 70%;
        padding: 10px 15%;
    }
}

@media only screen and (min-width: 1200px) {
    #navbar {
        width: 60%;
        padding: 10px 20%;
    }
}

.navbar-shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

#navbar-menu {
    display: flex;
    position: fixed;
    top: -100%;
    right: 5%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 240px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    transition: 0.3s;
    z-index: -1;
}

@media only screen and (min-width: 768px) {
    #navbar-menu {
        flex-direction: row;
        position: unset;
        top: unset;
        right: unset;
        width: unset;
        height: 80px;
        z-index: unset;
    }
}

#navbar-menu.active {
    top: 100px;
    left: 0;
    background-color: var(--bg-color-primary);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

#navbar-menu li {
    width: 112px;
    margin: 0 auto;
    background-color: var(--bg-color-primary);
}

#navbar a {
    display: block;
    position: relative;
    width: 80px;
    height: 40px;
    padding: 20px 16px;
    color: var(--text-color-secondary);
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}

#navbar-home a {
    height: 52px;
    padding: 14px 16px;
    color: var(--text-color-primary);
    font-size: 200%;
    line-height: 52px;
}

#navbar a:hover {
    color: var(--text-color-primary);
}

#navbar-menu a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 26px;
    content: "";
    display: block;
    height: 2px;
    left: 40%;
    position: absolute;
    background: var(--accent-color);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 20%;
}

#navbar-menu #about-link:hover:after {
    width: 40%;
    left: 30%;
}

#navbar-menu #projects-link:hover:after {
    width: 60%;
    left: 20%;
}

#navbar-menu #contact-link:hover:after {
    width: 50%;
    left: 25%;
}

#navbar-hamburger {
    display: block;
    cursor: pointer;
    margin-top: 26px;
    margin-bottom: 15px;
}

#navbar-hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--text-color-secondary);
}

#navbar-hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

#navbar-hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

#navbar-hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media only screen and (min-width: 768px) {
    #navbar-hamburger {
        display: none;
    }
}

section {
    text-align: center;
    padding: 100px 5%;
    width: 90%;
    height: calc(100vh - 200px);
    border-top: 2px solid var(--accent-color);
}

@media only screen and (min-width: 768px) {
    section {
        padding-left: 10%;
        padding-right: 10%;
        width: 80%;
    }
}

@media only screen and (min-width: 992px) {
    section {
        padding-left: 15%;
        padding-right: 15%;
        width: 70%;
    }
}

@media only screen and (min-width: 1200px) {
    section {
        padding-left: 20%;
        padding-right: 20%;
        width: 60%;
    }
}

#introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    padding-top: 0;
    padding-bottom: 0;
    border-top: unset;
    height: calc(100vh - 100px);
}

@media only screen and (min-width: 768px) {
    #introduction {
        flex-direction: row;
    }
}

#introduction-text {
    width: 90%;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    #introduction-text {
        width: 40%;
        text-align: right;
    }
}

#introduction-text h1 {
    color: var(--text-color-primary);
    text-decoration: underline var(--accent-color);
    text-decoration-thickness: 2px;
}

#introduction-text h3 {
    color: var(--text-color-secondary);
}

#introduction-text h2 {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
    #introduction-text h2 {
        display: flex;
        justify-content: flex-end;
    }
}

#hire-link {
    color: var(--accent-color);
    text-decoration: none;
}

#hire-link:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    margin: 0 30%;
    height: 2px;
    background: var(--accent-color);
    transition: width 0.3s ease 0s, margin 0.3s ease 0s;
    width: 40%;
}

#hire-link:hover:after {
    width: 80%;
    margin: 0 10%;
}

#introduction-image {
    width: 90%;
}

@media only screen and (min-width: 768px) {
    #introduction-image {
        width: 40%;
    }
}

#introduction-image img {
    display: block;
    margin: 0 auto;
    max-width: 80vw;
}

@media only screen and (min-width: 768px) {
    #introduction-image img {
        float: left;
    }
}

#about {
    background-color: var(--bg-color-secondary);
}

#projects {
    background-color: var(--bg-color-primary);
}

#contact {
    background-color: var(--bg-color-secondary);
}
